.Header{
    position: relative;

    display: flex;
    width: 100%;
    z-index: 10;

    min-height: 100px;

    &__navegation{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100px;
        width: 80%;

        background: transparent;

        box-shadow: none;
       

        &__list{
            display: flex;
            margin: 0;
            padding: 0;
            justify-content: space-evenly;
            height: 100%;
            width: 100%;
            &__item{

                position: relative;
                background: #8B1C3F;


                display: flex;
                justify-content: center;
                align-items: center;
               
                flex-grow: 1;
                height: 0px;
                font-size: 2em;

                transition: all .3s ease;

                &:hover{
                    cursor: pointer;
                    height: 100px;
                 

                    a{
                        color: white;
                    }
                }
                

                a{
                    position: absolute;
                    top: 0;
                    color: #8B1C3F;

                    font-weight: bold;

                    padding: 18px;
                    width: 100%;
                    text-align: center;
                    font-size: 1em;

                    transition: all .2s linear;

                }

              
            }
        }
    }

    &__logo{

        display: flex;
        justify-content: center;
        align-items: center;

    
        margin: auto 100px;

        width: 160px;
        height: 160px;

        border-radius: 100px;

        background: white;


        &__img{
            width: 70%;
            height: 70%;
        }

    }
}