@import "../../constans/anim.scss";

.Body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;

    
    &__services{
        display: flex;
    }
}

.about{
    width: 100%;

    &__container{
        display: flex;
        justify-content: space-evenly;
        align-content: center;

        margin: 100px auto;

        width: 70%;

        .icon{
            width: 300px;
        }

        .descripcion{
            width: 50%;
            font-size: 1.6em;

            display: flex;
            justify-content: center;
            align-items: center;
        }
        
    }
}

.Card{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
   
    
    &__container{
        position: absolute;
        top: -100px;

        padding: 50px 20px;
        font-size: 1.5em;


        display: flex;
        justify-content: center;
        background: #F0F3F5;
        width: 80%;
        height: 300px;
        box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.75);
    }

}